<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Valkey Page</title>
</head>
<body>

    <header>
        <h1>Hello, Valkey!</h1>
    </header>

    <main>
        <p>Valkey is an open source (BSD) high-performance key/value datastore that supports a variety of workloads such as caching, message queues, and can act as a primary database. The project is backed by the Linux Foundation, ensuring it will remain open source forever.</p>
    </main>

    <footer>
        <p>valkey.io</p>
    </footer>

</body>
</html>